<ion-header >
    
  </ion-header>
   
<ion-content text-center fullscreen color="dirty-fog">

    <img class="log"  alt="logo" height="100"   src="../assets/images/logodef.png"  > 
    
    <Label class="tam" >
        <h2>LOGIN</h2>
      </Label>
  <ion-list text-center>
      
    <div padding>
    <ion-item> 
  
      <ion-input  type="text" [(ngModel)]="fireDB.correo" placeholder="email"></ion-input>
    </ion-item>
  </div>
  <div padding>
    <ion-item>
      <ion-input type="password" [(ngModel)]="fireDB.password" placeholder="password" required></ion-input>
    </ion-item>
  </div>


    <div class="center" padding>
        <ion-label class="boton" (click)="NuevoUser()">
            Registrate
         </ion-label>
  

    <ion-button class="boton" (click)="fireDB.Login()">
      Ingresa
    </ion-button>
  
    <ion-label >
      <h3 (click)="fireDB.recuperarClave()" class="let" > olvidaste tu contraseña?</h3>
    </ion-label>
  </div>
    
          
  </ion-list>
</ion-content>
