ion-icon{
font-size: 35px;
margin-right: 10px;
margin-top:10px;

}

.menu{
    margin-left: 10px;
    margin-top:7px;
}

ion-content {
   
    --background: linear-gradient(197deg, rgba(160,32,192,1) 0%, rgba(174,72,199,1) 13.5%, rgba(194,100,218,1) 33.33%, rgba(218,143,237,1) 100%) !important;   
 }

 .color{
   
    background: linear-gradient(197deg, rgba(160,32,192,1) 0%, rgba(174,72,199,1) 13.5%, rgba(194,100,218,1) 33.33%, rgba(218,143,237,1) 100%) !important;   
 }

