
<ion-menu  contentId="content">
 
    <ion-header  >
      <ion-toolbar class="bas">
        <ion-title ></ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="colr">
   
      <div *ngFor="let p of pages">
   
        <!-- Standard Menu Item -->
        <ion-menu-toggle *ngIf="p.url">
          <ion-item class="base" [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
              <ion-icon src="/assets/images/registrarse.svg"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
      
    </ion-content>
    
  </ion-menu>
   
  <ion-router-outlet id="content" main></ion-router-outlet>
