.bas{
    --background: #3596c3;
}
.base{
    --background: #ffffff;
}
.colr{
        --background: #ffffff;
    }
    

.col{
    --background: transparent;
}


.active-item{
    border-left: 8px solid vas(--ion-color-primary);
}

