<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>NATURVID</h3>
          </div>


          <ion-card>
            <ion-item>
              <ion-input name="Nombre">Nombre del cliente</ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="Localidad">Localidad</ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="Direccion">Direccion</ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="Telefono">Telefono</ion-input>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Granola</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Bolsa x 250 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>
          </ion-card>


          <ion-card>
            <ion-item>
              <ion-label>Granola</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>

            <ion-item>
              <ion-label>Bolsa x 500 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Cereal Azucarado Arequipe</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>

            <ion-item>
              <ion-label>Bolsa x 250 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Cereal Azucarado Natural</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>

            <ion-item>
              <ion-label>Bolsa x 250 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>
                <nav>Cereal Azucado Arequipe</nav>
              </ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>

            <ion-item>
              <ion-label>Bolsa x 500 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Cereal Azucarado Natural</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>

            <ion-item>
              <ion-label>Bolsa x 500 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Cereal Amarre</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Bolsa x 510 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Cereal Choco Arroz</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Bolsa x 200 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Cereal Choco Arroz</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Bolsa x 400 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Chocapic</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Bolsa x 200 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Anillos Frutales</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Bolsa x 200 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Anillos Frutales</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Bolsa x 400 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Gudis</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Bolsa x 250 grs.</ion-label>
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Mani Natural</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-label>Peso</ion-label>
              <ion-select multiple="true" cancelText="Cancelar" okText="Elegir">
                  <ion-select-option value="bacon">125gr</ion-select-option>
                  <ion-select-option value="olives">250gr</ion-select-option>
                  <ion-select-option value="xcheese">500gr</ion-select-option>
              </ion-select>
            
            <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
            <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
            <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
            </ion-item>

          </ion-card>

          <ion-card>
              <ion-item>
                <ion-label>Mani Con Sal</ion-label>
                <ion-button fill="outline" slot="end">View</ion-button>
              </ion-item>
            </ion-card>

          <ion-card>
              <ion-item>
                <ion-label>Peso</ion-label>
                <ion-select multiple="true" cancelText="Cancelar" okText="Elegir">
                    <ion-select-option value="bacon">125gr</ion-select-option>
                    <ion-select-option value="olives">250gr</ion-select-option>
                    <ion-select-option value="xcheese">500gr</ion-select-option>
                </ion-select>
              
              <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
              <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
              </ion-item>
  
            </ion-card>

            <ion-card>
                <ion-item>
                  <ion-label>Mani Triturado</ion-label>
                  <ion-button fill="outline" slot="end">View</ion-button>
                </ion-item>
              </ion-card>
  
            <ion-card>
                <ion-item>
                  <ion-label>Peso</ion-label>
                  <ion-select multiple="true" cancelText="Cancelar" okText="Elegir">
                      <ion-select-option value="bacon">125gr</ion-select-option>
                      <ion-select-option value="olives">250gr</ion-select-option>
                      <ion-select-option value="xcheese">500gr</ion-select-option>
                  </ion-select>
                
                <ion-input name="name" type="text" placeholder="CANT." ngModel required></ion-input>
                <ion-input name="name" type="text" placeholder="VR.UNIT." ngModel required></ion-input>
                <ion-input name="name" type="text" placeholder="VR.TOTAL." ngModel required></ion-input>
                </ion-item>
    
              </ion-card>




          <ion-button (click)="fireDB.guardarFactura()">
            Ingresa
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>