
<ion-header>
    <ion-toolbar class="back">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
      <img  style="align-items: center" class="log" alt="logo" height="100"   src="../assets/images/log.png" > 
    <form #form="ngForm" (ngSubmit)="login(form)">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col class="align-self-center" size-md="6" size-lg="5" size-xs="12">
          
              <ion-card >
              <ion-item>
                <ion-input  name="Nombre">Nombre</ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="Usuario">Usuario</ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="Telefono">Telefono</ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="Contrseña">Contraseña</ion-input>
              </ion-item>
            </ion-card>
  
              
  
  <div text-center >
  <ion-button  (click)="fireDB.guardarFactura()" >
              Registrate
            </ion-button>
          </div>          
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  
  
  </ion-content>